body, html {
	height: 100%;
	position: center;
	margin: 0;
	padding: 0;
}

.intro_text {
	font-style: italic;
	font-size: 1.5em;
}

.main_text {
	padding-top: 5em;
	font-size: 2em;
}

@font-face {
	font-family: "aoe3font";
	src: url("Aoe3Font/aoe3.ttf");
}

@font-face {
	font-family: "medievalfont";
	src: url("omerta/omerta.ttf");
}

.aoe3_page {
	position: relative;
	text-align: center;
	color: black;
	font-family: "aoe3font";
	font-size: 2em;
}

.medieval_page {
	position: relative;
	text-align: center;
	color: black;
	font-family: "medievalfont";
	font-size: 4em;
}

.minecraft_page {
	position: relative;
	text-align: center;
	color: white;
	font-family: "medievalfont";
	font-size: 4em;
}


.fantasy_page {
	position: relative;
	text-align: center;
	color: black;
	font-family: "Copperplate";
	font-size: 2em;
}

.submenu {

}

.submenu ul {
	list-style-type: none;
}

.submenu ul li a {
	color: white;
	text-decoration: none;
}

.bg_image {
	height: 100%;
}

.bg_image img {
	display: block;
}

.center-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content {
	position: relative;
	top: 500px;
}

.content_start {

}
